@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.scrollbar-hidden::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hidden {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.custom-tile {
  color: inherit;
}

.disable-date {
  color: red !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
